<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto; width: 600px;">
    <tr id="visita-fotografo">
        <td valign="middle" class="bg_white" style="height: 400px;">
            <table>
                <tr>
                    <td>
                        <div class="box-cont text-center">
                            <h2>¡Vista Cancelada!</h2>
                            <div class="cont-img"><img src="https://propiblobstorage.blob.core.windows.net/mails/images/fotografo.png" alt="" style="border: none;"></div>
                            <br>
                            <p>
                                Tu visita ha sido cancelada <br />
                                Nos contactaremos contigo para reprogramarla y entregarte el mejor servicio.
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>