@using Corretaje.Api.Dto.Oferta
@model OfertaDto
@{ Layout = "~/Template/_Layout.cshtml"; }

<div style="background-color:white;">
    <div style="margin:0px auto;max-width:520px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
                <tr>
                    <td style="direction:ltr;font-size:0px;padding:60px 10% 12px 10%;text-align:center;">

                        <div class="mj-column-per-100 outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" style="font-size:0px;padding:0;word-break:break-word;">
                                            <img src="img/Logogris@2x.png" alt="LogoPropins" style="width:140px;height:40px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin:0px auto;max-width:520px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
                <tr>
                    <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                        <div class="mj-column-per-100 outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" style="font-size:0px;">
                                            <img src="img/ContraOfertaImg.jpg" alt="ManoEscribiendo" style="border:0;border-radius:0px;display:block;outline:none;text-decoration:none;height:auto;width:500px;font-size:13px; " width="488">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin:0px auto;max-width:520px; ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%; ">
            <tbody>
                <tr>
                    <td style="direction:ltr;font-size:0px;text-align:center; ">
                        <div class="mj-column-per-100 outlook-group-fix " style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%; ">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top; " width="100%">
                                <tbody>

                                    <tr>
                                        <td align="left" style="font-size:0px;padding:8px 0 16px 0;word-break:break-word;">
                                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:30px;font-weight:600;line-height:1.4;text-align:center;color: #000000;">
                                                ¡TIENES UNA CONTRAOFERTA!
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-size:0px;padding:8px 0 16px 0;word-break:break-word;">
                                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:1.4;text-align:left; ">
                                                <span style="color: #000; "> Recuerda que tienes 48 horas para responder. Revisa tus ofertas a través del siguiente botón.<br><br> </span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="font-size:0px;word-break:break-word;">
                                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:14px;padding-top:20px;padding-left: 20px;padding-right:20px;padding-bottom:20px;font-weight:600;line-height:1.4;color: #000000;">
                                                <a href="@Model.UrlContraOferta " style="text-align:center; display:inline-block;background: #134609;color:#ffffff;font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:15px;font-weight:600;line-height:1;margin:0;text-decoration:none;text-transform:none;padding:12px 12px;mso-padding-alt:0px;border-radius:6px; "
                                                   target="_blank ">Ver Ofertas</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-size:0px;padding:8px 0 16px 0;word-break:break-word;">
                                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:1.4;text-align:left; ">
                                                <span style="color: #000; ">
                                                    Agradecemos tu confianza,<br>Propins
                                                </span>

                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>