<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto; width: 600px">
    <tr id="mudango">
        <td valign="middle" style="height: 400px;">
            <table class="bg_white">
                <tr>
                    <td>
                        <div class="box-cont text-center">
                            MUDANGO BOX
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>