<h1>Cambio de contraseña exitoso</h1>
<p>
    Su contraseña ha sido cambiada exitosamente en Propins. Si usted no fue quien realizó esta acción, contáctese con el administrador de sitio inmediatamente para asegurar sus datos personales
</p>
<p>
    <a href="https://admin.propins.cl/" target="_blank ">
        Ir a admin.propins.cl
    </a>
</p>
<p>
    <a href="https://admin.propins.cl/" target="_blank ">
        Ir a propins.cl
    </a>
</p>