@using Corretaje.Api.Dto.Oferta

@model OfertaDto

<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto; width: 600px;">
    <tr id="oferta-success">
        <td valign="middle" class="bg_white" style="height: 400px;">
            <table>
                <tr>
                    <td>
                        <div class="box-cont text-center">
                            <div class="cont-img"><img src="https://propiblobstorage.blob.core.windows.net/mails/images/success.png" alt=""></div>
                            <h2>¡Felicitaciones!</h2>
                            <p>Tu oferta ha sido aceptada <br /></p>
                            <p>Descarga el contrato de Cierre de Negocio</p>
                            @*<a href="@Model.LinkContrato" class="btn btn-primary btn-lg">Descargar Contrato</a>*@
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>