@using Corretaje.Api.Dto.Usuario

@model UsuarioRegistroEmailDto

<div class="box-cont text-center">
    <h2>Nuevo embajador referido en el Portal Administrador</h2>
    <br>
    <p>
        <ul>
            <li><strong>Nombre:</strong> @Model.Nombres @Model.Apellidos</li>
            <li><strong>Teléfono</strong> @Model.Telefono</li>
            <li><strong>E-mail:</strong> @Model.Email</li>
        </ul>
    </p>
</div>