@using Corretaje.Api.Dto.Usuario

@model UsuarioRegistroEmailDto

<div class="box-cont text-center">
    <h2>Has sido invitado a unirte a Propins!</h2>
    <br>
    <h3>¿Qué es Propins?</h3>
    <p>
        Somos una empresa enfocada en agilizar y potenciar la venta de propiedades. Puedes tanto comprar como vender propiedades, o paralelamente también puedes referir a otros interesados en nuestro servicio y ganas una comisión por ello.
    </p>
    <h3>¿Cómo puedo registrarme?</h3>
    <p>
        Sólo debes hacer click en el link de abajo. Este link solo tiene una duración de 48 horas, ¡así que apúrate!
    </p>
    <p>
        <a href="@Model.LinkRegistro">
            Regístrate aquí
        </a>
    </p>
</div>