<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <!--[if mso]>
      <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG />
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    <![endif]-->
    <!--[if lte mso 11]>
      <style type="text/css">
        .outlook-group-fix {
          width: 100% !important;
        }
      </style>
    <![endif]-->
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700"
          rel="stylesheet"
          type="text/css" />
    <style type="text/css">
        @@import url( https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700 );
    </style>
    <!--<![endif]-->
    <style type="text/css">
        @@media only screen and (min-width: 480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }
    </style>
    <style type="text/css">
        @@media only screen and (max-width: 480px) {
            table.full-width-mobile {
                width: 100% !important;
            }

            td.full-width-mobile {
                width: auto !important;
            }
        }
    </style>
    <style type="text/css">
        * {
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
        }

        .type-cta {
            user-select: none;
        }

        .type-nostyle {
            text-decoration: none;
        }

        p {
            margin-top: 0;
        }
    </style>
</head>

<body style="background-color:white;">
    <div style="background-color:white;">
        <!-- logo -->
        <!--[if mso | IE]>
        <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:520px;" width="520"
        >
        <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="margin:0px auto;max-width:520px;">
            <table align="center"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   role="presentation"
                   style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:64px 10% 12px 10%;text-align:center;">
                            <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                            <tr>

                            <td
                            class="" style="vertical-align:top;width:500px;"
                            >
                            <![endif]-->
                            <div class="mj-column-per-100 outlook-group-fix"
                                 style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       role="presentation"
                                       style="vertical-align:top;"
                                       width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:0;word-break:break-word;">
                                                <table border="0"
                                                       cellpadding="0"
                                                       cellspacing="0"
                                                       role="presentation"
                                                       style="border-collapse:collapse;border-spacing:0px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:54px;">
                                                                <a href="#" target="_blank">
                                                                    <img alt="Propins live"
                                                                         height="auto"
                                                                         src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAARoAAAA9CAYAAABybaaAAAAABHNCSVQICAgIfAhkiAAAEs1JREFUeF7tnWtsHNd1x/93lxKlXcqW80Br1JHo+IOVWIYl94OlpQCRH+IWMFCTQFJTDmov46CWgySSCqNxgqYmgwBK6gAh87CdooVWeZRS0sJkkDRtgsCrlLsigrSiIMZ2Chem7BR2AQdelrtLSdyZE9x57N6ZnZmdB/fB3TuAYUu8cx/n3vn5f88595JBPtICbbDA1atX39y7d++tbWhaNtkGC7A2tCmblBbA66+/Tnv27JHrr0fWgpzoHpnoThumBE2nzUhz+yNB01z7ytpdLCBB01tLQ4Kmt+a7Y0YrQdMxU9GSjkjQtMTMshG7BSRoemtNSND01nx3zGglaDpmKlrSEQmalphZNiIVTW+vAQma3p7/to1eKpq2mb4tDUvQtMXsslEJmt5aAxI0vTXfHTNaCZqOmYqWdCQ6aM7vfxrEJgFMo39tCmMrhZb0XDaypS0gQbOlpy9w58OD5vsfPAA1dgZgB2qt0hJi6gT+/KWlwD2RL/SUBSRoemq6EQ405/afADQVs1s3F10G2D2G6QoATWJ8eaa3TClHG8QCEjRBrLX1ywYDzQuDu3F9gKuYUWPoq2BI46Erczh/9ygIGQA3G/CZQ39xQm6ltv4iacYIJGiaYdXOrdM/aHSQnKmqGKIL2FEctYCEg+jawBwYO1pVN0RjOLac7VwTyJ61wwISNO2wevvabAwaTcXsehrAyVo31VMY//W0a7fP3XUSiH1V+Pk0xq+cat8wZcudZgEJmk6bkeb2xxs0dQ5fuoyYmvbl7OXvKjGubvYaW6klUGUMx15Zae6Quqv2I4cODVMs9igYKyiKMrO4uNgV9ms7aNLlQ4B6MfRqIaxDYXfgu8k3LXVErTd0hzr0RcIlnB241x00tbC1MQKawfiyoGp8DEzbSu2aBsOjta0UTuHYFe7LCfQMDQ2dZICokuzvZ0FUAFG2QjTfDR/k4cOHR+Ox2AvCQAsVRTnYDWNrP2iK5wA8FGgRWgvPIDNQ/z2k1+YA9mCEervsVTaGTHKuHjSz+wbB+rjDd9gY8SqIRiP5WTbBUXwklZoEY3wL5+8hmlzI56f8Fe7MUkdSqazg79I6ScCpXC7nvm3tzKHU9aqtoPlo+Tb0qa+BoS+UudzUzMeu3Qml8jJYyGhuqM508EuGmuE9tIJm9u40mKYajLA15tG/lt6UyBEHGPoywoezAqIJvwALDBr+URJlcvn8RAdPhWfXJGiaNHPp4pcAfCZC7W5q5nmAPR6h3i57VVczNdA4ha0JJ8NscRpaana/VZkwmsRDyw2Vhx00C7mcBZKpVOoAY2wYRJOMMSPEDqhEE/l8PvBWreE4WlDAvnUiotVSuTy4tLS05bOv26Zo/pISuFF8A2DvCjWFbmrmYboF20u/BZAIVW+3vSSoGR00msM3zv0Ag/pY6TKoMtpUp+3sfr4t4+rGdBRn0V8c81JOjUBjzhMHToyxS+afiWgpl88f3KrzyJ3BiMW0bWxFVTPd4J/hY2kbaNKl4wA9F3490LeQ2XW87v108SkAp8PX221v1tSMDppzd78j5MZM4dgyz/ht/qOHzbnSMB1n8xi/YiYC1rXvFzT8xaGhoQxD1QENu/pp/uAat8ABwhgjXvI/Ll680PiNYCXC1M8hHSfS1OAG0dVmQq09oCGGdPElgO0LZk2jNKECpe8D+O6OVy3vf4TiSJRWwHBbqHq77SWbmjFBoy12MIxpGb5+H+5zicWPAsxQQlwMsSX0r10I5NM5t38aYCfAEwCPLZsO6EigsUOpoii3848mlUqlY4xpETBFVWcuXrw4Z5Q9IfilshVFmRA/sgMHDuweSCROEDDKWO1sF1dLDJgrlsszTtuZoVSqUN3GEc0t5PNjDu3x7vBo2bTdea2pmXj8RdEYIjRFH46p3ILUz+s1xwbGeATF9M1pTfI6wdh0Lpc763dZ+C3XFtCki38K4Cd+++hQ7iwyA+m6v0+vjQNsNmi9MQYUn09i53b9zfd+qoS3i861DO+L48XP7NB++Ju3CPs+W4b4dxd+o2L4S+t1L2c+3o9Hh3Sf99lcBel/uI6T92/DV48ZjTo051aX//HRMWR28ahe9eGKRgcN0Ygvx+z5ux4F8UUpHqa0d4HmQJjxVZ/ps2kiaIql0i0cBBYAEU0RY4Oi8jFHYZbnfzY+dr61tHyEthEXoChjC4uLlgzoI0NDum2NRwOTAKo6q9mc10FAY9TFfTeu/bQ7xzlkkonEi159MtaGBkn/C61xyTaB5t8A/Enj3jmUcFMzvGi6uAjgvqD13rs3hv+c3Km99r/vEG77q7JrFU89sA2nP6zDwQRGI9AMvofhtWd0l9HqOnDgb8tYeZsw9+kdePBg3LWtmZ9t4OQ/3Qg6HL080asoD+zDD5giVuAfNI6ntbWKrwJYgf4BVZ2wRquNzzs1BzTVsDB3oObyee3j8xO5Esvb/T2aHYHLjKhAjO1mgHmQVBuuSnQwn89XT67bQeNn5hRVHeNKS+tvAEXjp26tjKKMmEC0bzHd6uBjzuVywil93625Fmw5aNLX94E2XooQenZRM+ET/54Y6cOzj/RrNvqXXyn48DevudpLhMMT376O51+sYHcCeOebSe0dJxUiqpmp+Q1MzunwWPlKAnvfrcdSOFQKNr5lX1HA/wn5TCAzUBd88Qca3WHMJbz+f0uuPmJsum6rpSfojWqnt8WM4P7iiOt2apNBY2yP+Jkso6s0n8vnNd+PI2j4WFRV80spjO2OExWqH2IqtcKMcXAAETAsgkSLdAFZc3tERCu5fP52s20n0PCPloimY6q6ojl5bblBovM6DGiI6CoBkx71V+1h2drp8zrFHc78P2Ox2DADtBP69nGHXICW11oPmrXwoWdvNRM68e/sx/vxiLGt+evv38AzP9lwNe1bMwn8wU06HA4+vY6l11V9fZ/RQcP/zP/efOxqZvDJkgYUEU68LJsobcZ0mh+bo5rR2mm4dbJCpnZau1H3LGFsWoIbbEKChqmqxZ+jxmKDjCcWsurJcq2Hpn/GCTRENQjZh1OXlSsoAbGsHWwWRVK/dap+5FUYOSQimn0OCho+nlK5nBb9RXbVYsJQ880kkzwQUH3ELWOj6Y3685aC5jF6F5TSGxFCz85q5pHyH4Gp3AkcKvHvldMJ3PmHOjyOnl7HL/5bh4f9EaGxfgMYOF6CamzKTdDYoeGmZkbvjeOFT+m+nui+mLquOqoZf6A5d/drRuh7FTFl2Nc5J7N9PQHQUBcuRxhCgsbPQrfn0Lg5iZ3qSqVS0zHGuJOYO0Wv5vL5mtPb9sKQoHxUopl8Pq+lptcpGqKphXzeEtVz2p6ZsAoKGq5IHOrnDvCqwuP9Mh3KDj4kvgWeLJVK883O1WkpaKKEnr3VTOjEv5t2AKvP6WqEQ2Pg8RLWXQTN+H19mD2ub7HscMg+tRNH74xpPzPViZua4WUmR7fj6Qe3aeXn/kvB9E+tvpjLb6h1Wyk/35qbb8Z811vRiKew/TqL7b0SlQ1t3F6Xn9ME0HAwMFVN1zlnRfVAdGEhn/eKctX8PNz/lsvVRxuMsVoyeIV6/YDGC0ibARqvOpwyj4XpyxKQaUbEibfRMtAMUx/2lvhxg7Ch5/PIDIzXfWwfoZ1IFn8bNvHv/rvi+PcndWVh3/bY25p+eDtOfEiHw5f/dQNP/aAGByfQiOVF3wx/XyzvBBBxW+YLMLVCrmpGg6Dn1qmmZjxzXDw7pOfL8BPHN4NwFseuWD/YsKDhvpX6J6sCc6IfRSxiizr5Bo2TUhDrFdUP91+ZAOt00Nh9TE7zyH1GpXJ5ZLMVTstAky7y9WZRdL4/IAKB2B/j28lqAmj13YiJf5//s234wpgeRfpWtoLjZ6+7dmvx8ztx3/t11TL29WuaEjEf0UnMFQ33wbz2TFL7N480mb4Zs3zh2SRu1gNddQ8vv/sTIXw2LpEmsQF30Oi+Gd3AMeVgoC2TfQg1VVPA+JVbLD8OCZowSXjNAo1bvZ0OGj4Phw4dGozH45NOYX5hnrILudyI7w/UR8HWgCZigh5oHhke3HB40msvh078A/CjkzvwwD16iHniH68js1BxbGbnNuB336jl2tx6soy3eFjCeMSt0MiXr2m5NebWyK5mDuyJ4dKUThkOldGvWaNchTJVncw+plAowp5AJvm81zvuoKnBYRXjV7xySBr3SYSWfQu2NUATRP0EUjT8Q++Lx7kfrPpspo+m0fbLbJQ7hxOJxCjTkxLrrjkQneqNJ7xxiZaAJkqCnqeaiZz4h9Vnk7jJUBYf/FwZL79pSbmqGvDQHTFc/Bu94NXfEQaftMaiRdBwtXPmsR2uaiZ9pA9nHtN9PfOXlDrQNJ41hxKEN8GS70eGucfmLVsne2awTwD47pxbYmATMoPd+hRQ0YiHPwsLuZxViQmN2DKAqw5ZP4rGKeQeNurktMXzCxrRZo5bKpeom+/5txVsEWjCJ+h5q5ksUL2uNrAJ7ngvw6t/pyfS/f86cLPHduX4SB+eM3Jtzv+ygvHnrFssMcuXJ/KZWcBOKsnLdxN4ELUXTiEz0PDaEoZz+5eM32CwAka1RBtifG/LIy3Wv3frEVPnPbdXJmhAc2Co/ToWLcuY5+d4X6wV5KzTZoDGrjTc7oGxX8hlCafbwtsg4scVJkx/hxFxquUn8Y6LPp6gCXsOUScv0BhAOQHGsnanrxhJ492yJyNGWJjaq00HTZQEPU81Ez5Bz7TZw4f68L3HdWXxs18ruP8r7mJADFOfmr2B6Z9aQ1NidrCZJ+OkfHhbS1/YiXvep/t6+DYrQlKePhSfaoYXZcZvLxBvcQu5hugyxpfds0eroHGsfhX9a4ObcXrbq/NBFA2vpy5zlmiyoqpn+TkoDUT6FZvVcDXZolMumcH8mIAJ2vqol6AcGqmRuqhRANAYeTR8y6Zti81zW5r9+HUbQLVvjcL7YRZM80ETIUHPU81EvpkPMw9vx6eNKJKT7X54ScGDhv9EzLU5/MV1LP6PNddGBI1Zl5vPR8y5cWo3BHx8qRkdNPzh1zbwQ3VEoi9msJrd6xzhsfWVZVzvrxF9NNo1FBDuU2ErwMZko2spWq1o+OC0s0DJZNZ+1MBpknjGb6lUGhajM0GPIIg5OLyNZoLGx9Wo1WGKSYhhoOL0TlNBEzlBL3YYmQQ/v2R9IibomZWJUSQn23zun2/g9I838J4B4P++lgQ/fMkT9d79yfpcGzFnhtflpmacgGRvO1CWcAA1UwON02hFOAQ92W2vz/TDAKEdy+0ATRU2iUTGyUFqDtMpI1cDhX3r5PWVBlAjZjVRFA2vwxKWd+gbP3ahEqXNs1ebBRleT1NBEyVBD3QBmV3O+VXRb+bTTPjZB7ahf5v7dd2zixvaCW0OkfQRPX/m7TXCN37unNHHHcLm43ZOiUecRu91T2DmESf7tqzBfPtWM96g4T+d3c8zRfcClMX4crjwpp5Ho0t0pzwan6tX82cA1VCjPQPWTzViHSqwEuTmPeFdcRF65+3U+2imeLv8JkBGpGUaE2NziqLMOd39YmzPLHlH4ri14w/VC8u4I0XN2pMUG9VhqLY0iPjZJn0bxbjKxFKpVMpsdv6MOU9NA03kBD0aQWZX/e8hi5ig52d9bp0yVAAGbm0UaRLH4/3rVsTM4LCqpqZmAKfM4K1j3cA99RN1Clxpl7zQNNCEvBtGN6uXmol6M1+XTJxupylkdgW6IK/xL5CrRaUKiCkjgRL3/Jx16ib728YiQeM+uc0DTbi7YQzQOKsZ/sOICXrds8ypgO0Dg/h7thpkTI1Bo/tquJTkd834h40VMpfRXxwOdPNekFF0aFkJmhaDJtIvb/P0zUS9ma9DV2iYbgVXM419NGY/gsJGQkaznARNq0ETJfTs4pvR1EwxQuJfmI+5U98Jp2b8g4aXtISoPZSNhEx1lWh32ghXdxbL5elmOVc7dWm69aspW6e/WD+CeCX43TBKXwXf2bngasOJ9aOgSmP1v9UmIWh/FbyN7+xaDvpaMNDw0haIOMDG+vOGSXhhOizf6Q4LNAU03WGarhxFcEpbFUvt5jz9196aGcbBL8nqSvPKQbVU0Uhzd6wFgoOmTtnQEginwJj5mwIkZDp2ujunY1LRdM5ctKIn4UBTv40y+yoh04pZ64I2JGi6YBIDDCE8aOphIyETwPC9XlSCprdWQDTQcFvpvpk0YspkoGS+3rKzHK3NAhI0vbUkooOmt+wlR7tJFpCg2SRDbpFqJGi2yER1WzclaLptRr3HI0HTW/PdMaOVoOmYqWhJRyRoWmJm2YjdAhI0vbUmJGh6a747ZrQSNB0zFS3piARNS8wsG5GKprfXgARNb89/20YvFU3bTN+WhiVo2mJ22agETW+tAQma3prvjhmtBE3HTEVLOiJB0xIzy0YcfDRv7Nmz533SMr1hgd8DIcMz41MoD+sAAAAASUVORK5CYII="
                                                                         style="border:0;display:block;outline:none;text-decoration:none;height:auto;width: 259px;font-size:13px;"
                                                                         width="259" />

                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                            </td>

                            </tr>

                              </table>
                            <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>
        </td>
        </tr>
        </table>
        <![endif]-->
        <!-- body head -->
        <!--[if mso | IE]>
        <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:520px;" width="520"
        >
        <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="margin:0px auto;max-width:520px;">
            <table align="center"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   role="presentation"
                   style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:12px 10% 4px 10%;text-align:center;">
                            <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                            <tr>

                            <td
                            class="" style="vertical-align:top;width:500px;"
                            >
                            <![endif]-->
                            <div class="mj-column-per-100 outlook-group-fix"
                                 style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       role="presentation"
                                       style="vertical-align:top;"
                                       width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:8px 0 0 0;word-break:break-word;">
                                                <div style="font-family:-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:22px;font-weight:600;line-height:1.2;text-align: center;color:#000000;">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                            </td>

                            </tr>

                              </table>
                            <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>
        </td>
        </tr>
        </table>

        <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:520px;" width="520"
        >
        <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="margin:0px auto;max-width:520px;">
            <table align="center"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   role="presentation"
                   style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                            <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                            <tr>

                            <td
                            class="" style="vertical-align:top;width:520px;"
                            >
                            <![endif]-->
                            <div class="mj-column-per-100 outlook-group-fix"
                                 style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       role="presentation"
                                       style="vertical-align:top;"
                                       width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:16px 16px 0 16px;word-break:break-word;">
                                                <table border="0"
                                                       cellpadding="0"
                                                       cellspacing="0"
                                                       role="presentation"
                                                       style="border-collapse:collapse;border-spacing:0px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:488px;">
                                                                <img alt="dekks welcome"
                                                                     height="auto"
                                                                     src="https://propiblobstorage.blob.core.windows.net/mails/images/vendedor_agenda.jpg"
                                                                     style="border:0;border-radius:12px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                                     width="488" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                            </td>

                            </tr>

                              </table>
                            <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>
        </td>
        </tr>
        </table>
        <![endif]-->
        <!-- body content -->
        <!--[if mso | IE]>
        <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:520px;" width="520"
        >
        <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="margin:0px auto;max-width:520px;">
            <table align="center"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   role="presentation"
                   style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:12px 10% 0 10%;text-align:center;">
                            <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                            <tr>

                            <td
                            class="" style="vertical-align:top;width:500px;"
                            >
                            <![endif]-->
                            <div class="mj-column-per-100 outlook-group-fix"
                                 style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       role="presentation"
                                       style="vertical-align:top;"
                                       width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:8px 0 16px 0;word-break:break-word;">
                                                <div style="font-family:-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;line-height:1.4;text-align:left;color:#8E8E92;">
                                                    <span style="color: #000000;">
                                                        Propins Live ha generado el reporte semanal del proyecto [NOMBRE_INMOBILIARIA].
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:8px 0 16px 0;word-break:break-word;">
                                                <div style="font-family:-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 18px;font-weight:600;line-height:1.4;text-align: left;color:#8E8E92;background: #d0edff;padding: 20px;border-radius: 6px;">
                                                    <span style="color: #000000;">
                                                        Periodo:
                                                    </span>
                                                    <span style="color: #000000;"> [PERIODO] </span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left"
                                                vertical-align="middle"
                                                class="type-cta"
                                                style="font-size:0px;padding:8px 0;word-break:break-word;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                            </td>

                            </tr>

                              </table>
                            <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>
        </td>
        </tr>
        </table>
        <![endif]-->
        <!-- footer -->
        <!--[if mso | IE]>
        <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:520px;" width="520"
        >
        <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="margin:0px auto;max-width:520px;">
            <table align="center"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   role="presentation"
                   style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:112px 16px 32px 16px;text-align:center;">
                            <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                            <tr>

                            <td
                            class="" style="vertical-align:top;width:488px;"
                            >
                            <![endif]-->
                            <div class="mj-column-per-100 outlook-group-fix"
                                 style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0"
                                       cellpadding="0"
                                       cellspacing="0"
                                       role="presentation"
                                       style="vertical-align:top;"
                                       width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                vertical-align="middle"
                                                style="font-size:0px;padding:0;padding-top:4px;word-break:break-word;">
                                                <table border="0"
                                                       cellpadding="0"
                                                       cellspacing="0"
                                                       role="presentation"
                                                       style="border-collapse:separate;line-height:100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                role="presentation"
                                                                style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:4px 0;background:none;"
                                                                valign="middle">
                                                                <a href="https://propins.cl/"
                                                                   style="display:inline-block;background:none;color:#8E8E92;font-family:-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:11px;font-weight:500;line-height:1.4;margin:0;text-decoration:none;text-transform:none;padding:4px 0;mso-padding-alt:0px;border-radius:3px;"
                                                                   target="_blank">
                                                                    ©2020 Propins
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                            </td>

                            </tr>

                              </table>
                            <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>

    <br />
</body>
</html>
