<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSWebpayServiceImplServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WSWebpayServiceImplServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webpay3gint.transbank.cl:443/WSWebpayTransaction/cxf/WSWebpayService"
                binding="basicHttpBinding" bindingConfiguration="WSWebpayServiceImplServiceSoapBinding"
                contract="TransbankPayment.WSWebpayService" name="WSWebpayServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>